language: node_js
node_js:
- '12'
env:
  global:
  - MATTERMOST_CHANNEL=publication
  # REGISTRY_TOKEN(editor=cozy, app=bouyguesbox)
  - secure: tnlayfLz/ntmuqwLTXYWMhnA76HJzKIXxCbicPk1KdwwWIHnZ138ornXeOdCtxKQBljkXbUKJjiq8SazJlzLdqok0GyyI0SR8/zPI0tZEuIzHaYrli13u3tXiSgdfx7sz+bupYmk72gUmR1aGLLicunfR1bUzN1aIjLNyzp+2eXKMvM77rp+qb9bOe0sLrt17JKRPgA3mSXG2jqeHIw54FQYQ8/4euUodoFIZ5eJdEKB59npqs50MQE6rY8HBAM1E3ZhmfCinr9mzNQz1JWQDlSS859JF+0bj91zjrgXeHhgHqFxbOOlNF3ch4qjT5K7ZfDwAqnH/G7G24ibnk34EClgL4fM6Pen9hSRAsWDvVu+OpnNDBFk47IVVm8B303loNldF7jfdZ8cJ5VEI9aYrneFrmaiJU9ifApqb0h/BG2h6aaai+aGcWekUH1jDyjTXMdXLHuMtdNy2ZLPM79zntVubJdNgFHlEUklNAKv+tDKxfOpic7XW1bSxKL53u6C+7iADeR2vdxF1Wp2GOw1d+tThvtNBnI9VIquIl03qBbyAPnARGMrfiXN7/6oDEnsRDxu1jWwolOfdsc/LMlwuj7POlp4sKfrN1raNVuJpmsJ0VLEFPX72CZZQ5kKXRpK+Kw8UzdsA61F9tDDoAMpN2o96nX9l64s3XlYWEYp6xs=
  # MATTERMOST_HOOK_URL
  - secure: kT4NagoZtl3kYlf9wj/aKeFJPx77NmPlCkHYm/0gC0WfI03xuJk5R2fHwF+8neltyOrO0oA0n36MGHJVDkBuOxpvRFhtRNDprKvpCpc32q33vEg4qAVPePfiQ88H0b9v762tKC2oYJyP2uHIxv/z0kNuwqPiIkKTz3enDgfbl3H6BKc5e4L2iRF/0Wtdk/tT4R9hyi3O22a4L6ofHclUqtx9vQk3ulBxDWbuwbaEfuQKG33MebO25zs7ofs9vkg0WWQ0P811wQY0Oj5dKNktzGsqUnIhBMHhps5ISZ5nddyJr9/VOs2pTUgB9UbIDepsK2HYbFLlDDmwZyUyqrJ72fFN2hx+Z+wPNgQ0h2CZI7BEoF65/chnv8NPZIuCZ8PJ57QvAlvVwr+nLSCxbCSrpI0/Hti2e4Nig5n4IA8+F0GuiG66zjs2eFRC+/OchA1g6tLPuiVizzDUbzFRwISfnteLHnROjS7lxPyMabTb7RPrNYVikvSqVJxueWtUJL5Vch30CoSvwexgyjRx/e87PdG2h0b17CAn358qt7HKfNs8J0moLkziXJ6tyFba66YWubxRcIBqBLfhK4WMVtjRD26DCuDBwOuct/7PoUwQlxKi4o+RGT1IPcswXj+GpZPsV5NrYRJg4441riqgRwm1aBcLeL2i7RVI8rLkRJ6Th5I=
cache:
  yarn: true
  directories:
  - node_modules
branches:
  except:
  - build
  - build-debug
script:
- yarn lint
- yarn build
deploy:
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish
  on:
    branch: master
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish --postpublish mattermost
  on:
    tags: true
before_install:
- openssl aes-256-cbc -K $encrypted_c536a8c2bb48_key -iv $encrypted_c536a8c2bb48_iv
  -in github_deploy_key.enc -out /tmp/github_deploy_key -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/github_deploy_key
- ssh-add /tmp/github_deploy_key
after_deploy:
- rm /tmp/github_deploy_key
- ssh-add -D
